<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
       <table  class="table table-bordered">
                <tr>
                    <th>Id</th><th>Codigo</th><th>Nombre</th><th>Cif</th><th>Tipo Entidad</th><th></th><th></th>
                </tr>
                <tr>
                    <td>{{entidadBancaria.id}}</td>
                    <td>{{entidadBancaria.codigoEntidad}}</td>
                    <td>{{entidadBancaria.nombre}}</td>
                    <td>{{entidadBancaria.cif}}</td>
                    <td>{{entidadBancaria.tipoEntidadBancaria}}</td>
                    <td><button ng-click="ver(entidadBancaria.id)" class="btn">Ver</button></td>
                    <td><button ng-click="borrar(entidadBancaria.id)" class="btn">Borrar</button></td>
            </table>
    </body>
</html>
